{% extends "layout.html" %}
{% block title %}My Parties{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h3 class="card-title">Invite</h3>
            <p class="card-text">
                <div class="container">
                    <form class="row" method="post" action="">
                        <div class="col">
                            <div class="row">
                                <input class="form-control" type="text" name="username" placeholder="Username:">
                            </div>
                            <div class="row">
                                <button class="btn btn-primary mx-auto mt-3" type="submit">Invite</button>
                            </div>
                        </div>
                    </form>
                </div>
            </p>
        </div>
    </div>
</div>
{% endblock %}